# ST95HF Three Axis Accelerometer configuration options

# Copyright (c) 2017 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig ST95HF
	bool "ST95HF Three Axis Accelerometer"
	default y
	depends on DT_HAS_ST_ST95HF_ENABLED
	select SPI if $(dt_compat_on_bus,$(DT_COMPAT_ST_ST95HF),spi)
	help
	  Enable SPI-based driver for ST95HF NFC.

if ST95HF

choice ST95HF_TRIGGER_MODE
	prompt "Trigger mode"
	help
	  Specify the type of triggering to be used by the driver.

config ST95HF_TRIGGER_NONE
	bool "No trigger"

config ST95HF_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	depends on GPIO
	select ST95HF_TRIGGER

config ST95HF_TRIGGER_OWN_THREAD
	bool "Use own thread"
	depends on GPIO
	select ST95HF_TRIGGER

endchoice

config ST95HF_TRIGGER
	bool

config ST95HF_THREAD_PRIORITY
	int "Thread priority"
	depends on ST95HF_TRIGGER_OWN_THREAD
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config ST95HF_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on ST95HF_TRIGGER_OWN_THREAD
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

config ST95HF_BLOCK_DATA_UPDATE
	bool "Output registers not updated until MSB and LSB read"

config ST95HF_VERBOSE
	bool	"Enable Verbose logging"
	default n

choice ST95HF_READ_MODE
	prompt "Read mode"
	default ST95HF_READ_AS_DATASHEET
	help
	  Specify the type of reading to be used by the driver, if follows the Datasheet or follows the Demo code

config ST95HF_READ_AS_DATASHEET
	bool "Read structure as Datasheet"

config ST95HF_READ_AS_DEMO
	bool "Read structure as demo"
	
endchoice
endif # ST95HF
